services:
  # 1. FTP Server (Файлы сохраняются в папку received_files на хосте)
  ftp:
    image: fauria/vsftpd
    container_name: dlp_ftp
    environment:
      - FTP_USER=dlpuser
      - FTP_PASS=dlpsecret
      - PASV_MIN_PORT=21100
      - PASV_MAX_PORT=21110
    volumes:
      - ./received_files:/home/vsftpd/dlpuser
    ports:
      - "20:20"
      - "21:21"
      - "21100-21110:21100-21110"
    restart: always

  # 2. Email Server (SMTP + IMAP + POP3)
  email_server:
    image: greenmail/standalone:latest
    container_name: dlp_email
    environment:
      - GREENMAIL_OPTS=-Dgreenmail.setup.test.all -Dgreenmail.hostname=0.0.0.0 -Dgreenmail.users=user:pass
    ports:
      - "25:3025"  # SMTP
      - "143:3143" # IMAP
      - "110:3110" # POP3
    restart: always

  # 3. VoIP / SIP (Asterisk)
  asterisk:
    image: andrius/asterisk
    container_name: dlp_sip
    volumes:
      - ./extensions.conf:/etc/asterisk/extensions.conf
      - sip_recordings:/var/spool/asterisk/monitor
    ports:
      - "5060:5060/udp"
      - "5060:5060/tcp"
      - "10000-10050:10000-10050/udp"
    healthcheck:
      disable: true
    restart: always

  # 4. Web Server (Раздает записи разговоров)
  nginx:
    image: nginx:alpine
    container_name: dlp_web
    volumes:
      # Монтируем том с записями в папку Nginx
      - sip_recordings:/usr/share/nginx/html/recordings
    ports:
      - "80:80"
    restart: always

  # 5. Radius
  radius:
    image: freeradius/freeradius-server
    container_name: dlp_radius
    environment:
      - RADIUS_CLIENTS_SECRET=testing123
    ports:
      - "1812:1812/udp"
    restart: always

  # 6. Telnet (Busybox с открытой консолью)
  telnet:
    image: busybox:latest
    container_name: dlp_telnet
    command: telnetd -F -p 23 -l /bin/sh
    ports:
      - "23:23"
    restart: always

# Общий том для передачи записей от Asterisk к Nginx
volumes:
  sip_recordings: