version: '3.8'

services:
  # --- 1. FTP (NAT-Aware) ---
  ftp:
    image: fauria/vsftpd
    container_name: dlp_ftp
    environment:
      - FTP_USER=dlpuser
      - FTP_PASS=dlpsecret
      # МАГИЯ: Сообщаем FTP, какой IP отдавать клиенту
      - PASV_ADDRESS=${PUBLIC_IP} 
      - PASV_MIN_PORT=21100
      - PASV_MAX_PORT=21110
    volumes:
      - ./received_files:/home/vsftpd/dlpuser
    ports:
      - "20:20"
      - "21:21"
      - "21100-21110:21100-21110"
    restart: always

  # --- 2. SIP / Asterisk (NAT-Aware) ---
  asterisk:
    image: andrius/asterisk
    container_name: dlp_sip
    volumes:
      - ./extensions.conf:/etc/asterisk/extensions.conf
      # Подсовываем конфиг SIP с настройками NAT
      - ./sip.conf:/etc/asterisk/sip.conf 
      - sip_recordings:/var/spool/asterisk/monitor
    ports:
      - "5060:5060/udp"
      - "5060:5060/tcp"
      # RTP порты (Голос)
      - "10000-10050:10000-10050/udp" 
    healthcheck:
      disable: true
    restart: always

  # --- 3. Web Server ---
  nginx:
    image: nginx:alpine
    container_name: dlp_web
    volumes:
      - sip_recordings:/usr/share/nginx/html/recordings
    ports:
      - "80:80"
    restart: always

  # --- 4. Email ---
  email_server:
    image: greenmail/standalone:latest
    container_name: dlp_email
    environment:
      - GREENMAIL_OPTS=-Dgreenmail.setup.test.all -Dgreenmail.hostname=0.0.0.0 -Dgreenmail.auth.disabled=true -Dgreenmail.users=user:pass
    ports:
      - "25:3025"
      - "143:3143"
      - "110:3110"
    restart: always

  # --- 5. Radius ---
  radius:
    image: freeradius/freeradius-server
    environment: ["RADIUS_CLIENTS_SECRET=testing123"]
    ports: ["1812:1812/udp"]

  # --- 6. Telnet ---
  telnet:
    image: busybox:latest
    command: telnetd -F -p 23 -l /bin/sh
    ports: ["23:23"]
# XMPP / Jabber сервер
  xmpp:
    image: prosody/prosody
    container_name: dlp_xmpp
    environment:
      - PROSODY_ADMINS=admin@example.com
      - PROSODY_ENABLE_REGISTRATION=true
      # Разрешаем "голые" соединения без шифрования (важно для нашего простого скрипта)
      - PROSODY_C2S_REQUIRE_ENCRYPTION=false 
    ports:
      - "5222:5222"
    restart: always
    
volumes:
  sip_recordings: